@mixin _private-apply-font($type-scale) {
    font-size: var(--mat-sys-#{$type-scale}-size);
    font-weight: var(--mat-sys-#{$type-scale}-weight);
    letter-spacing: var(--mat-sys-#{$type-scale}-tracking);
    line-height: var(--mat-sys-#{$type-scale}-line-height);
}

@mixin _set-token($prefix, $component, $token, $value) {
    & {
        --#{$prefix}-#{$component}-#{$token}: #{$value};
    }
}

@mixin component($component-prefix) {
    $component-name: 'issue';
    $marker-variants: (
        "minor": var(--_marker-color-minor),
        "normal": var(--_marker-color-normal),
        "major": var(--_marker-color-major),
        "critical": var(--_marker-color-critical)
    );

    .#{$component-prefix}-#{$component-name} {
        --_marker-color-minor: light-dark(#47673B, #ACD19B);
        --_marker-color-normal: light-dark(#1C619C, #9ECAFF);
        --_marker-color-major: light-dark(#904D00, #FFB77D);
        --_marker-color-critical: light-dark(#904A46, #FFB3AE);

        @each $variant, $color in $marker-variants {
            &--#{$variant} {
                @include _set-token($component-prefix, $component-name, 'marker-color', $color);
            }
        }

        &__code {
            @include _private-apply-font(title-medium);
        }

        &__name {
            @include _private-apply-font(body-large);
        }

        &__description {
            @include _private-apply-font(body-medium);
        }
    }
}
