@use '@angular/material' as mat;

:host {
    height: 100%;
    display: grid;
    grid-template-columns: var(--app-list-panel-size) min-content 1fr;
    grid-column-gap: 8px;

    &.enable-animation {
        transition: grid-template-columns 150ms linear;
    }
}

.container {
    display: grid;
    height: 100%;
    grid-auto-rows: min-content;
    overflow: hidden;

    border-radius: var(--mat-sys-corner-large);
    background-color: var(--mat-sys-surface-container);
}

.resizer {
    position: relative;
    place-self: stretch;
    display: grid;
    grid-template-rows: 1fr [handle-start] 48px [handle-end] 1fr;

    &__drag-handle {
        --app-drag-handle-width: 4px;

        content: '';
        transform: none !important;
        position: absolute;
        grid-row: handle;
        inset-block: 0;
        inset-inline: calc(var(--app-drag-handle-width)/-2);
        border-radius: calc(var(--app-drag-handle-width)/2);
        background-color: var(--mat-sys-surface-container);
        transition: inset 150ms linear, border-radius 150ms linear;

        &:hover, &.cdk-drag-dragging {
            --app-drag-handle-width: 8px;
        }
    }
}
